a.poll-show-back-link {
    margin: 17px;
}

.poll-show-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #007ACC;
    color: #fff;
    margin: 17px;
    line-height: 0.2;
}

.showPoll-title-div {
    text-align: center;
    margin: 17px;
    line-height: 0.2;
}

.options-div {
    background-color: lightgray;
    min-width: 90%;
    min-height: 350px;
    padding: 4%;
    margin: 17px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 17px;
}

.one-option-div {
    /* background-color: lightgray; */
    display: flex;
    flex-direction: column;
    min-width: 115px;
    height: 90%;
    margin: 10px;
    align-items: center;
}

.link-to-vote-page{
    font-size: larger;
    color: #007ACC;
}

.pollshowPage-links-div{
    background-color: lightgray;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 17px;
    padding: 17px;
}