.poll-show-page-full {
    background-color: #35506c;
    height: 100%;
}

a.poll-show-back-link {
    margin: 17px;
}

.poll-show-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #007ACC;
    color: #fff;
    margin: 17px;
    line-height: 0.2;
}

.showPoll-title-div {
    text-align: center;
    /* margin: 17px; */
    line-height: 0.2;
    width: 100%;
    height: 100%;
    background-color: #efefef;
    /* border: 1px solid red; */
    padding-top: 20px;
}

a.poll-voting-link {
    color: #007aac !important;
}

.options-div {
    /* background-color: #efefef; */
    min-width: 90%;
    min-height: 350px;
    /* padding: 4%; */
    /* margin: 17px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 17px;
}

.one-option-div {
    /* background-color: lightgray; */
    display: flex;
    flex-direction: column;
    min-width: 115px;
    height: 90%;
    margin: 10px;
    align-items: center;
}

.link-to-vote-page{
    font-size: larger;
    color: #007ACC;
}

.pollshowPage-links-div{
    background-color: lightgray;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 17px;
    padding: 17px;
}

main.poll-show-main-div {
    padding-top: 109px;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.poll-live-div {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav#poll-show-side-nav {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #efefef;
}

.poll-live-instructions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dbdbdb;
    color: #4F4F4F;
}

