a, button{
    cursor: pointer;
}

h1{
    color: #4f4f4f;
}

.intro-div, .seond-intro-div, .who-needs-this{
    height: 300px;
    /* background-color: #f9f9f9; */
    background-color: rgb(239, 239, 239);
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-div{
    height: 525px;
}
.intro-div-text-content-div{
    width: 480px;
}
.intro-div-text-content-div > h1{
    color: #007acc !important;
    font-weight: 900;
    font-size: 2.875em;
    line-height: 1;
}

.intro-div-text-content-div > p{
    margin-top: .75rem;
    font-size: 1.375em;
    line-height: 1.19;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #4f4f4f;
}
.computer-img{
    height: 400px;
    width: 485px;
}
.into-signup{
    background-color: #008a00 !important;
    color: #fff !important;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5%;
    padding: 5px;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    cursor: pointer;
    
}


.blue-band{
    display: flex;
    justify-content: center;
    background-color: #007acc;
    padding: 20px;
    color: white;
}
.blue-band p{
    color: white;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.blue-band-signup{
    color: #4f4f4f;
    background-color: #efefef;
    font-weight: 600;
    font-size: .85em;
    padding: .25rem .75rem;
    cursor: pointer;
}

.media-div{
    height: 500px;
    background-color: #eaeff5;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-up-div{
    height: 200px;
    background-color: #f0f0f0;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seond-intro-div{
    height: 390px;
    background-color: #f9f9f9;
    padding-bottom: 50px;
}
.second-intro-div-content{
    /* background-color: violet; */
    width: 302px;
    height: 320px;
    padding-right: 25px;
    margin-top: 70px;
}

.remote-img{
    width: 150px;
    height: 150px;
}

.second-intr-div p{

}
.who-needs-this{
    background-color: #f9f9f9;
}

.sign-up-div{
    display: flex;
    flex-direction:column;
    color: #4f4f4f;
}



.footer-signup{
    /* background-color: #008a00 !important; */
    border: 1px solid #007acc;
    color: #007acc;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5%;
    padding: 5px;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    cursor: pointer;
    
}

.intergration-div{
    display: flex;
    flex-direction:column;
    /* justify-content: center; */
    padding-top: 10px;
    background-color: #fff !important;
    margin-top: 0px;
}

.intergration-title-div{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.after-intergration-div{
    background-color: yellow;
}

.slides-intergrsation-div{
    display: flex;
    align-items: center;
    justify-content: center;

}

.power-point-div-img{
    height: 48px;
    width: 48px;
}

.power-point-div{
    display: flex;
    flex-direction: row;
    width: 250px;
    /* padding-right: 20px; */
    padding: 10px;
    font-size: 13px;
    background-color: hsl(0, 0%, 94%);
    margin-bottom: 20px;
    margin-right: 15px;
    /* border: 2px solid black; */
}
.power-point-div h4{
    padding: 0px;
    margin: 0px;
    /* padding-left: 3px; */
}

.power-point-div-content{
    padding-left: 10px;
}
.the-rest-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    background-color: #f9f9f9;
    padding-top: 20px;
    /* background-color: tomato; */
}

.last-logo{
    padding-left: 85px;
    width: 885px;
    /* background-color: yellow; */
}
.last-section{
    height: 400px;
    width: 960px;
    /* background-color: chartreuse; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.last-section-divs{
    width: 150px;
    /* height: 350px; */
    /* background-color: blue !important; */
    /* border-bottom: 2px solid black; */
    margin-right: 10px;
}
.footer{
    background-color: #efefef;
    height: 40px;
    padding: 30px 0px;
}