html, body, div, ul, p  {
   padding: 0;
   margin: 0;
   margin-block-end: 0px;
   margin-block-start: 0px;
 }
 html, body{
    height: 100%;
    width: 100%;
 }

 #root{
   height: 100%;
 }
 .rendered-body{
   height: 100%;
 }

 a{
     text-decoration: none;
     color: white;
 }