.vote-form-.div {
    height: 100%;
}


form.general-vote-form {
    background-color: #35506c;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 10% 3%;
    height: 100%;
}

.vote-form-header{
    color: #fff;
}

input.vote-form-input {
    /* height: 25px; */
    width: 30%;
    font-size: 22px;
    text-align: center;
}

button.vote-form-submit {
    font-size: large;
    background-color: transparent;
    color: #fff;
    padding: 10px;
    width: 180px;
}


